@import url('https://fonts.googleapis.com/css2?family=Grenze:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Pirata+One&family=Rakkas&family=Viaoda+Libre&display=swap');

html,
body {
  position: relative;
  background: linear-gradient(120deg, #131111, #502d2d, #C33552);
  padding: 0;
  margin: 0;
  font-family: "Grenze", serif;
  font-weight: 100;
  font-style: normal;
}


.snow-container {
  position: fixed;
  inset: 0;
  pointer-events: none;
  z-index: 9999;
  overflow: hidden;
}

.snowflake {
  position: absolute;
  top: -10px;
  width: 4px;
  height: 4px;
  background: rgba(255, 80, 80, 0.9);
  border-radius: 50%;
  animation: fall linear forwards;
}

.nav-link {
  color: white !important;
  font-size: 24px;

  /* !important nomainīs krāsu uz balto, ja ir piesaistīts bootsrap */
}

.nav-link:hover {
  color: rgb(243, 166, 166) !important;
}

h2 {
  color: white !important;
  font-size: 34px;
}

img {
  width: 100px;
}

.divider-gradient {
  margin-top: 40px;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 40px;
  height: 3px;
  background: linear-gradient(to right, transparent, #ffffff, transparent);
}

@keyframes fall {
  to {
    transform: translateY(110vh);
  }

}
